<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Ratefuchs</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

   <div class="main-container">
    {% if question["media"] %}
    <div class="media-box">
        {% if question["media"].endswith('.jpg') or question["media"].endswith('.png') %}
        <img src="{{ url_for('game.media_file', filename=question['media']) }}" alt="media">
        {% elif question["media"].endswith('.mp3') %}
        <audio controls src="{{ url_for('game.media_file', filename=question['media']) }}"></audio>
        {% endif %}
    </div>
    {% endif %}

        <div class="right-content">
            <div class="question-box">
                <h1 id="question-text">{{ question["question"] }}</h1>
                <p class="points">Punkte: {{ question["points"] }}</p>
            </div>

            {% if question["type"] == "multiple_choice" %}
            <div class="answers">
                {% for option in question["options"] %}
                <div class="answer" data-index="{{ loop.index0 }}">{{ option }}</div>
                {% endfor %}
            </div>
            {% endif %}

            <!-- Antwortanzeige für guess/sonstiges -->
            <div id="answer-display"></div>
        </div>
    </div>

    <div class="scoreboard">
        {% for player in players %}
        <div class="player" data-id="{{ player['id'] }}" style="position: relative;">
            <span class="name">{{ player['name'] }}</span>
            <span class="score" id="score-{{ player['id'] }}">
                <span class="score-value">{{ player['score'] }}</span>
            </span>
        </div>

        {% endfor %}
    </div>

    <script src="{{ url_for('static', filename='js/game.js') }}"></script>
</body>
</html>
